{% extends 'layout.twig' %}
{% block content %}
<div class="container">
    <h1>Загрузка файлов</h1>

    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}

    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data" class="form-control">
        <div class="card-header">
            <label   for="file">Выберите файл (макс. {{ max_file_size / 1024 / 1024 }} MB):</label>
            <label   for="file">Типы файлов для загрузки ({%  for at in allowed_types %}{{ at }} {% endfor %}):</label>
            <input   type="file" name="file" id="file" required>
        </div>

        <div class="card-body">
            <label for="description">Описание (необязательно):</label>
            <textarea name="description" id="description" rows="3"></textarea>
        </div>

        <button type="submit">Загрузить</button>
    </form>

</div>

{% endblock %}
